<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:utils="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.*"/>
    <context:annotation-config/>


    <utils:list id="userInitDBMock" list-class="java.util.ArrayList" value-type="com.tutorial.entities.User">
        <bean class="com.tutorial.entities.User">
            <property name="userId" value="#{idGenerator.getUniqueUserID()}"/>
            <property name="login" value="Stas"/>
            <property name="password" value="1234Stas95"/>
            <property name="keepLoggedIn" value="false"/>
        </bean>
        <bean class="com.tutorial.entities.User">
            <property name="userId" value="#{idGenerator.getUniqueUserID()}"/>
            <property name="login" value="Dima"/>
            <property name="password" value="dimz95"/>
            <property name="keepLoggedIn" value="true"/>
        </bean>
        <bean class="com.tutorial.entities.User">
            <property name="userId" value="#{idGenerator.getUniqueUserID()}"/>
            <property name="login" value="LizaEr"/>
            <property name="password" value="liza96x"/>
            <property name="keepLoggedIn" value="true"/>
        </bean>
        <bean class="com.tutorial.entities.User">
            <property name="userId" value="#{idGenerator.getUniqueUserID()}"/>
            <property name="login" value="Tema96"/>
            <property name="password" value="artVx"/>
            <property name="keepLoggedIn" value="false"/>
        </bean>
    </utils:list>

</beans>